@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.card {
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 150px;
  max-width: 300px;
  height: 450px;
  overflow: hidden;
  display: block;
  position: relative;
  isolation: isolate;
  color: #fcfdfe;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card:hover, .card:focus {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 7px 8px 4px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.01);
}

.card__image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 400px, 0 400px);
          clip-path: polygon(0 0, 100% 0, 100% 400px, 0 400px);
  background-position: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card__image_company {
  background-size: cover;
  height: 50px;
  background-position: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card:hover .card__image {
  -webkit-transform: scale(1.1) rotate(-2deg);
          transform: scale(1.1) rotate(-2deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.card__content {
  position: absolute;
  bottom: 0;
  padding: 6em 1em 1em;
  height: 230px;
  width: 100%;
  z-index: -1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card__content button {
  padding: 4% 30%;
  margin-top: 5%;
  margin-left: 6%;
  border-radius: 25px;
  background-color: #e9db61;
  font-size: large;
  font-weight: bolder;
}

.card input {
  border-radius: 50px;
  background-color: #eda151;
  font-weight: 800;
  font-size: 20px;
}

.card:nth-child(10n + 1) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#023536), to(#666d6e));
  background-image: linear-gradient(to top, #023536, #666d6e);
}

.card:nth-child(10n + 2) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#023536), to(#666d6e));
  background-image: linear-gradient(to top, #023536, #666d6e);
}

.card:nth-child(10n + 3) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#023536), to(#666d6e));
  background-image: linear-gradient(to top, #023536, #666d6e);
}

.card:nth-child(10n + 4) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#023536), to(#666d6e));
  background-image: linear-gradient(to top, #023536, #666d6e);
}

.card:nth-child(10n + 5) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#023536), to(#666d6e));
  background-image: linear-gradient(to top, #023536, #666d6e);
}

.card:nth-child(10n + 6) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#023536), to(#666d6e));
  background-image: linear-gradient(to top, #023536, #666d6e);
}

.card:nth-child(10n + 7) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#023536), to(#666d6e));
  background-image: linear-gradient(to top, #023536, #666d6e);
}

.card:nth-child(10n + 8) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#023536), to(#666d6e));
  background-image: linear-gradient(to top, #023536, #666d6e);
}

.card:nth-child(10n + 9) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#023536), to(#666d6e));
  background-image: linear-gradient(to top, #023536, #666d6e);
}

.card:nth-child(10n + 10) .card__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#666d6e));
  background-image: linear-gradient(to top, #ffffff, #666d6e);
}

@media (min-width: 1024px) {
  .card {
    min-width: 230px;
  }
}

@media (min-width: 1280px) {
  .card {
    min-width: 240px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .card {
    min-width: 100%;
    height: 200px;
  }
  .card__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card__image {
    width: 40%;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
  .card__content {
    top: 0;
    padding-left: 45%;
  }
}

.section-carrito {
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-y: auto;
  display: none;
  position: inherit;
  background-color: #e9db61;
  border-radius: 10px;
  z-index: 1;
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  -webkit-box-shadow: 0.3em 0.3em 10em 0.3em black;
          box-shadow: 0.3em 0.3em 10em 0.3em black;
}

.section-carrito--visible {
  display: block;
  text-align: center;
}

.section-carrito table {
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
}

.section-carrito table, .section-carrito th, .section-carrito td {
  border-bottom: 5px solid black;
  border-collapse: collapse;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.section-carrito table button {
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 35px;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: #023536;
  color: white;
}

.section-carrito button.btn__enviarCarrito {
  float: right;
  margin: 35px;
  width: 100px;
  height: 35px;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 20px;
  background-color: #023536;
  color: white;
}

.container-alta {
  padding: 1em 4em;
  /* img {
        display: block;
        margin: 0 auto;
    } */
}

.container-alta form {
  padding: 0 5em;
  margin: 30;
}

.container-alta h1,
.container-alta h2 {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 50px;
  margin-bottom: 1em;
  text-align: center;
  background-color: #023536;
  border: solid 2px black;
  border-radius: 10px;
}

.container-alta input {
  background-color: #fbfbfb;
  font-size: 20px;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #023536;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  display: block;
  float: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-alta button {
  display: block;
  margin-top: 20px;
  width: 80px;
  height: 35px;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
}

.container-alta input[type="checkbox"] {
  display: inline;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}

.container-alta form div {
  border: 1px solid #121309;
  background-color: yellow;
  color: darkred;
  margin: 2px 0 10px 0;
  border-radius: 5px;
  display: none;
}

.container-alta table, .container-alta th, .container-alta td {
  border: 3px solid black;
}

.container-alta table {
  border-radius: 5px;
  width: 100%;
  padding: 2em;
}

.container-alta #listado-productos {
  width: 100%;
}

.container-alta th, .container-alta td {
  padding: 5px;
}

.active {
  font-weight: bold;
}

/*********************************
            HEADER
*********************************/
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-cards__header {
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  background-color: #023536;
  color: white;
  width: 100%;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(28, 29, 18, 0.7);
          box-shadow: 2px 2px 2px 1px rgba(28, 29, 18, 0.7);
  border-radius: 10px;
}

#menu {
  display: none;
}

#menu:checked + .nav-bar {
  display: block;
}

#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: #6e6a6a;
}

#menu:checked ~ .search-bar__carrito-container {
  display: block;
}

/*********************************
            NAV BAR
*********************************/
.nav-bar {
  background-color: #6e6a6a;
}

.nav-bar__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-bar__nav-item {
  text-align: center;
  background-color: none;
}

.nav-bar__nav-link {
  display: block;
  background-color: #023536;
  color: #fff;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 25px;
}

/*********************************
            SEARCH BAR
*********************************/
.search-bar {
  background-color: #6e6a6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-bar__form-container {
  padding: .5em;
}

.search-bar__logo-container {
  width: 310px;
  background-size: contain;
}

.search-bar__logo-container .search-bar__logo-container img {
  height: 1000px;
}

.search-bar__form-container {
  background-color: #6e6a6a;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.search-bar__form-label {
  display: none;
  background-color: black;
  color: #60efff;
  border: solid 2px #6e6a6a;
  border-radius: 3px;
}

.search-bar__form-search {
  background-color: #fff;
  width: 85%;
  padding: 10px;
  border-radius: 20px;
}

.search-bar__form-submit {
  background-color: black;
  color: #f4ff60;
  border: solid 2px black;
  border-radius: 20px;
  padding: 10px;
}

.search-bar__carrito-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar__carrito-container img {
  height: 60px;
}

/*********************************
            MENU TOGGLE
*********************************/
.menu-toggle {
  display: none;
  background-color: red;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3em;
          flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}

.menu-toggle__label {
  display: block;
  background-color: #023536;
  width: 100%;
  height: 100%;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
  display: block;
  background-color: #e9d461;
  height: .2em;
  position: absolute;
  left: .5em;
  right: .5em;
  margin: 0 auto;
}

.menu-toggle__pan-arriba {
  top: .8em;
}

.menu-toggle__medallon {
  top: 50%;
  margin-top: -.15em;
}

.menu-toggle__pan-abajo {
  bottom: .8em;
}

@media (max-width: 768px) {
  .main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .menu-toggle {
    display: block;
  }
  .nav-bar {
    display: none;
  }
  .nav-bar__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-bar__form-search {
    display: none;
  }
  .search-bar__form-submit {
    display: none;
  }
}

/*********************************
            MAIN
*********************************/
body {
  min-width: 300px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#8d9394));
  background-image: linear-gradient(to top, #ffffff, #8d9394);
}

.section-cards {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#8d9394));
  background-image: linear-gradient(to top, #ffffff, #8d9394);
  padding: 1em 6em;
  min-height: 80vh;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background_contacto {
  padding: 1em;
}

.dar_alta_contacto {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  background-color: #023536;
  border: solid 2px black;
  border-radius: 10px;
}

.form_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  border-right: 1px solid black;
  width: 400px;
  margin-bottom: 30px;
}

.form_alta label,
.form_alta input,
.form_alta textarea {
  width: 350px;
}

.form_contact label,
.form_contact input,
.form_contact textarea {
  width: 350px;
}

.form_alta div {
  width: 350px;
  min-width: 380px;
  line-height: 20px;
  margin: 10px;
}

.our_company {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 1em;
  margin-bottom: 1em;
  margin: 20px;
  text-align: center;
  background-color: #023536;
  border: solid 2px black;
  border-radius: 10px;
}

.our_company_oportunity {
  padding: 20px;
}

.main_our_company {
  padding: 0.1em 6em;
  min-height: 100vh;
}

.card_our_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card_our_company_people,
.card_our_company_tecnology,
.card_our_company_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  width: 290PX;
  max-width: 100%;
  height: 400px;
  border: solid 1px #142c0d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b3b028;
  font-weight: bolder;
  font-size: 45px;
}

.contact_connecticus {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #023536;
  padding: 3em;
}

.copyright {
  padding-bottom: 3em;
  font-size: 13px;
  background-color: #023536;
  color: white;
  text-align: center;
}

@media (min-width: 50%) {
  .cards-container {
    gap: 2em;
  }
}

@media (min-width: 1000px) {
  footer .contact_connecticus {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */