

$container-max-widths: (
    sm: 420px,
    md: 720px,
    lg: 960px
);

@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}
