/*********************************
            HEADER
*********************************/
.main-header {
    display: flex;
    flex-direction: column-reverse ;
}

.section-cards__header {
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    background-image: linear-gradient(to top, #f5ebc3, #26c5f3);
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(207, 214, 72, 0.7);
    border-radius: 10px;

}

#menu {
    display: none;
}

#menu:checked + .nav-bar {
    display: block;
}

#menu:checked ~ .search-bar .menu-toggle__label {
    background-color: #60efff;
}
#menu:checked ~ .search-bar__carrito-container {
    display: block;
}
/*********************************
            NAV BAR
*********************************/
.nav-bar {
    background-color: #60efff;
}

.nav-bar__nav-list {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}

.nav-bar__nav-item {
    text-align: center;
    background-color:none; 
}

.nav-bar__nav-link {
    display: block;
    color: black;
    padding: .5em  1em;
    text-decoration: none;
    
    border-radius: 6px;
}


/*********************************
            SEARCH BAR
*********************************/
.search-bar {
    background-color: #60efff;
    display: flex;
    justify-content: space-between;
}

.search-bar__logo-container,
.search-bar__form-container {
    padding: 1em;
}

.search-bar__logo-container {
    width: 450px;
    background-image: url(../../img/logo/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #60efff;
    text-decoration: none;
}

.search-bar__form-container {
    background-color: #60efff;
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.search-bar__form-label {
    display: none;
    background-color: black;
    color: #60efff;
    border:solid 2px #60efff;
    border-radius: 3px;
}

.search-bar__form-search {
    border-radius: 5px;
    background-color: #fff;
    width: 60%;
}

.search-bar__form-submit {
    background-color: black;
    color: #60efff;
    border:solid 2px black;
    border-radius: 3px;
}

.search-bar__carrito-container {
    flex: 0 0 3em;
    background-image: url(../../img/logo/buycar.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/*********************************
            MENU TOGGLE
*********************************/
.menu-toggle {
    display: none;
    background-color: red;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;
}

.menu-toggle__label {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
    display: block;
    background-color: #333;
    height: .2em;
    position: absolute;
    left: .5em;
    right: .5em;
    margin: 0 auto;
}

.menu-toggle__pan-arriba {
    top: .8em;
}
.menu-toggle__medallon {
    top: 50%;
    margin-top: -.15em;
}
.menu-toggle__pan-abajo {
    bottom: .8em;
}

@media (max-width: 768px) {

    .main-header {
        flex-direction: column-reverse;
    }

    .menu-toggle {
        display: block;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar__nav-list {
        flex-direction: column;
    }

}
